@using BlazorApp1.Components
@using BlazorApp1.Helper
@page "/"

@inject IDataService DataService;
@* <PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton> *@


@* <RadzenCard class="rz-my-12 rz-mx-auto" style="max-width: 400px;">
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Inline definition</RadzenText>
    <RadzenTree Expand=@OnExpand Collapse=@OnCollapse Change=@OnChange Style="width: 100%; height: 300px">
        <RadzenTreeItem Text="BMW">
            <ChildContent>
                <RadzenTreeItem Text="M3" />
                <RadzenTreeItem Text="M5" />
            </ChildContent>
            <Template>
                <img alt="BMW" src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
        </RadzenTreeItem>
        <RadzenTreeItem Text="Audi">
            <ChildContent>
                <RadzenTreeItem Text="RS4" />
                <RadzenTreeItem Text="RS6" />
            </ChildContent>
            <Template>
                <img alt="Audi" src="https://upload.wikimedia.org/wikipedia/commons/9/92/Audi-Logo_2016.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
        </RadzenTreeItem>
        <RadzenTreeItem Text="Mercedes">
            <Template>
                <img alt="Mercedes" src="https://upload.wikimedia.org/wikipedia/commons/9/90/Mercedes-Logo.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
            <ChildContent>
                <RadzenTreeItem Text="C63 AMG" />
                <RadzenTreeItem Text="S63 AMG" />
            </ChildContent>
        </RadzenTreeItem>
    </RadzenTree>
</RadzenCard> *@

@* <RadzenCard class="rz-my-12 rz-mx-auto" style="max-width: 400px;">
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Inline definition</RadzenText>
    <AthenaTree Expand=@OnExpandAthena Collapse=@OnCollapse Change=@OnChange Style="width: 100%; height: 300px">
        <AthenaTreeItem Text="BMW">
            <ChildContent>
                <AthenaTreeItem Text="M3">
                    <ChildContent>
                        <AthenaTreeItem Text="M3">
                            <ChildContent>
                                <AthenaTreeItem Text="M3">
                                    <ChildContent>
                                        <AthenaTreeItem Text="M3" />
                                    </ChildContent>
                                    <Template>
                                        <b>@context.Text</b>
                                    </Template>
                                </AthenaTreeItem>
                            </ChildContent>
                            <Template>
                                <b>@context.Text</b>
                            </Template>
                        </AthenaTreeItem>
                    </ChildContent>
                    <Template>
                        <b>@context.Text</b>
                    </Template>
                </AthenaTreeItem>
                <AthenaTreeItem Text="M5" />
            </ChildContent>
            <Template>
                <img alt="BMW" src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
        </AthenaTreeItem>
        <AthenaTreeItem Text="Audi">
            <ChildContent>
                <AthenaTreeItem Text="RS4" />
                <AthenaTreeItem Text="RS6" />
            </ChildContent>
            <Template>
                <img alt="Audi" src="https://upload.wikimedia.org/wikipedia/commons/9/92/Audi-Logo_2016.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
        </AthenaTreeItem>
        <AthenaTreeItem Text="Mercedes">
            <Template>
                <img alt="Mercedes" src="https://upload.wikimedia.org/wikipedia/commons/9/90/Mercedes-Logo.svg" style="width: 20px;" class="rz-me-2" />
                <b>@context.Text</b>
            </Template>
            <ChildContent>
                <AthenaTreeItem Text="C63 AMG" />
                <AthenaTreeItem Text="S63 AMG" />
            </ChildContent>
        </AthenaTreeItem>
    </AthenaTree>
</RadzenCard> *@

<RadzenCard class="rz-my-12 rz-mx-auto" style="max-width: 400px;">
    <AthenaTree Data=@items Expand=@OnExpandAthena Collapse=@OnCollapse Change=@OnChange Style="width: 100%; height: 300px">
        <AthenaTreeLevel TextProperty="@nameof(Item.Name)" ChildrenProperty="@nameof(Item.Children)" Template=@FileOrFolderTemplate />
    </AthenaTree>
</RadzenCard>

@code {
    IEnumerable<Item> items;


    void ButtonClicked()
    {
        // Handle the Click event of RadzenButton
    }
    void OnChange(TreeEventArgs args)
    {
        // Log("Change", $"Item Text: {args.Text}");
    }

    void OnExpand(TreeExpandEventArgs args)
    {
        // Log("Expand", $"Text: {args.Text}");
    }

    RenderFragment<AthenaTreeItem> FileOrFolderTemplate = (context) => builder =>
    {
        // string path = context.Value as string;
        // bool isDirectory = Directory.Exists(path);

        bool isDirectory = (context.Value as Item).Type.Equals("folder");

        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, nameof(RadzenIcon.Icon), isDirectory ? "folder" : "insert_drive_file");
        builder.CloseComponent();
        builder.AddContent(3, context.Text);
    };

    async Task OnExpandAthena(AthenaTreeExpandEventArgs args)
    {
        var item = args.Value as Item;
        var data = await DataService.GetChildrenAsync("test", CancellationToken.None);
        // Log("Expand", $"Text: {args.Text}");
    }

    void OnCollapse(TreeEventArgs args)
    {
        // Log("Collapse", $"Text: {args.Text}");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var item1 = new Item();
        item1.Children = new List<Item> {
            new Item("item2", "folder", new List<Item> {
                new Item("item3", "folder", new List<Item>
                {
                    new Item("item4", "folder",new List<Item>
                    {
                        new Item("item5", "file", new List<Item>())
                    })
                })}),
            new Item("item6", "file", new List<Item>()),
            new Item("item7", "file", new List<Item>())
        };
        item1.Name = "item1";
        item1.Type = "folder";

        items = new List<Item>
        {
            item1,
            new Item("item8", "file", new List<Item>()),
            new Item("item9", "file", new List<Item>()),
            new Item("item10", "file", new List<Item>())
        };
    }
}